// Breakpoints.
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$bp-map: (
  'sm': $bp-sm,
  'md': $bp-md,
  'lg': $bp-lg,
  'xl': $bp-xl,
);

// Colors.
$light: #fff;
$gray-100: #efefef;
$gray-200: #e2e2e2;
$gray-300: #6f6f6f;
$dark: #383838;

$primary: #415db9;

// Typography.
$font-family-base: 'Helvetica Neue', sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$font-weight-bold: 500;
$line-height-base: 1.8;
$font-color-base: $dark;
