$spacer: 1rem;

$sizes: (
  '0': 0,
  '1': $spacer * 0.25,
  '2': $spacer * 0.5,
  '3': $spacer,
  '4': $spacer * 1.5,
  '5': $spacer * 3,
  'auto': auto,
);

$directions: (
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
);

@each $unit, $size in $sizes {
  .m-#{$unit} {
    margin: $size;
  }

  .mx-#{$unit} {
    margin-left: $size;
    margin-right: $size;
  }

  .my-#{$unit} {
    margin-top: $size;
    margin-bottom: $size;
  }

  @each $abbr, $direction in $directions {
    .m#{$abbr}-#{$unit} {
      margin-#{$direction}: $size;
    }
  }
}

@each $bp-unit, $bp in $bp-map {
  @include bp($bp) {
    @each $unit, $size in $sizes {
      .m-#{$bp-unit}-#{$unit} {
        margin: $size;
      }

      .mx-#{$bp-unit}-#{$unit} {
        margin-left: $size;
        margin-right: $size;
      }

      .my-#{$bp-unit}-#{$unit} {
        margin-top: $size;
        margin-bottom: $size;
      }

      @each $abbr, $direction in $directions {
        .m#{$abbr}-#{$bp-unit}-#{$unit} {
          margin-#{$direction}: $size;
        }
      }
    }
  }
}
