.footer {
  padding: 40px 0;
  background: $primary;
  color: $light;
}

.footer__container {
  @include md {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__list {
  min-width: 25%;
  padding: 0 1rem;

  margin-top: 1.5rem;

  @include md {
    margin-top: 0;
  }
}
