.landing {
  position: relative;

  &::before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    width: 60%;
    z-index: -1;
    background: url('../img/landing-bg.svg') left bottom / cover no-repeat;
    opacity: 1;

    @include md {
      display: block;
    }
  }

  @include lg {
    min-height: 100vh;
  }
}

.landing__container {
  text-align: center;

  @include md {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.landing__left {
  flex: 7;

  @include md {
    padding-top: 60px;
  }
}

.landing__right {
  flex: 5;

  display: none;

  @include md {
    display: block;
  }
}

.landing__buttons {
  > .btn {
    display: block;
    width: 100%;

    &:first-child {
      margin-bottom: 0.5rem;

      @include bp(413px) {
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    }

    @include bp(413px) {
      display: inline-block;
      width: auto;
    }
  }
}

.landing__contact {
  margin-top: 50px;
  color: $primary;

  @include sm {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include md {
    justify-content: start;
  }
}

.landing__subheading {
  font-size: 1.2rem;
}
