.landing {
  position: relative;
  min-height: 100vh;

  background: url('../img/Ellipse\ 14.svg') right -400px top -400px / 800px
    800px no-repeat;
}

.landing__container {
  display: flex;
  margin-top: 100px;
}

.landing__left {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.landing__right {
  flex: 5;
}

.landing__contact {
  display: flex;
  align-items: center;
  margin-top: 100px;
  color: $primary;
}

.landing__subheading {
  font-size: 1.2rem;
}
