.mini-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mini-project {
  width: 250px;

  margin: 2rem 2rem 0;

  &:first-child {
    margin-top: 0;
  }

  @include md {
    margin: 0 2rem;
  }
}
