.mini-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mini-project {
  display: flex;
  flex-direction: column;
  width: 250px;

  margin: 2rem 2rem 0;

  &:first-child {
    margin-top: 0;
  }

  @include md {
    margin: 0 2rem;
  }
}

.mini-project__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mini-project__skills {
  margin-bottom: auto;
}
