.skill-point__check-box {
  display: inline-block;
  vertical-align: middle;
  fill: green;
}

.skill-point__skill {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  color: $gray-300;
}
